a {
    color:#cb4b16;
}
a:hover {
    color:#268bd2;
}

body {
    background-color:#fdf6e3;
}
code {
    background-color:#2b303b;
    color: #c0c5ce;
    padding-left: 0.5em; 
    padding-right: 0.5em; 
}

body > .main {
    font-family:"envy_code","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    min-width:300px;
    width:98%;
    padding-left: 1em;
    padding-right: 1em;
    margin:auto;
    color:#073642;
    font-size: 1.1rem;
}
.date {
    color:gray;
    font-size:0.8rem;
    margin-top:-0.8rem;
}
.done {
    color:green;
    font-size:1.6rem;
}
.todo {
    color:red;
    font-size:1.6rem;
}
.main > header {
    min-height:160px;
}

header > .logo {
    padding-right: 10px;
}

@media (min-width: 992px) {
    header > .logo {
        float:left;
    }
}
header > .logo > img {
    height:150px;
    padding-right: 30px;
}
header > .logo > h1 {
    padding-top: 10px;
    float:right;
    font-weight:bold;
    font-size:3rem;
}

header .overview {
    margin-left:auto;
    margin-right:0;
    max-width:42em;
}

header .overview > nav {
    padding:10px;
    border-radius:15px;
    background-color:#FFFDF7;
}
header .overview > nav > a {
    padding:10px;
    text-decoration:none;
    font-weight:bold;
    font-size:1.3rem;
    display:block;
}

.content >div > h1 {
    text-align:center;
    font-size:2.5rem;
}
.main > .menu {
    float:left;
    clear:both;
}
.menu > nav >a {
    padding-top:10px;
    display:block;
    font-size:1.3rem;
    text-decoration: none;
}
.main > .content {
    float:right;
    width:100%;
    min-width:10em;
}

@media (min-width: 992px) {
    .main > .content {
        width:85%;
    }
    body > .main {
        font-size: 1.4rem;
    }
    .main > .menu {
        padding-top:50px;
        width:15%;
        font-size: 1.6rem;
    }
    header .overview > nav > a {
        display:inline;
    }
    header .overview {
        padding-top: 40px;
        float:right;
    }

    header .overview > nav > a {
        font-size:1.6rem;
    }

    .menu > nav >a {
        font-size:1.6rem;
    }
}
footer {
    clear:both;
    width:100%;
}


.switch {
    display:block;
    margin-top: 2em;
    margin-bottom: 2em;
}

.switch > label{
    border-width: 2px;
    font-weight: bold;
    border-style: solid;
    border-color: #073642;
    padding: 0.8em;
}


.collapse-switch {
    display: none;
}

.collapse-toggle {
    display: block;
}

.collapse-switch:checked ~ .collapsable {
    display: block;
}

.collapsable {
    display:none;
}

@media (min-width: 992px) {
    .collapsable {
        display:block;
    }
    .collapse-toggle {
        display: none;
    }
}
