---
title: NEWS
layout: post.liquid
---
{% for post in collections.posts.pages %}
	{% assign is_of_cat = false %}
	 {% for cat in post.categories %}
		 {% if cat == 'news' %}
			 {% assign is_of_cat = true %}
		 {% endif %}
	 {% endfor %}
	 {% if is_of_cat %}
<section id="content">
	<h1><a href="{{post.permalink}}">{{ post.title }}</a></h1> 
    <div class="date"> {{post.published_date | date:"%d-%m-%Y"}}</div>
    {% assign prev = post.content |split:'</p>' %}
    {{prev[0]}}..... </p>
</section>
	{% endif %}
{% endfor %}


