  <header>
    <a class="logo" href="/" alt="Persy Logo"><img src="/logo.png"/><h1>Persy.rs</h1></a>
    <input type="checkbox" id="topSwitch" class="collapse-switch">
    <div class="collapse-toggle switch">
        <label for="topSwitch">
            Resources
        </label>
    </div>
    <div class="overview collapsable">
      <nav>
        <a href="https://gitlab.com/persy/persy">Source Repo</a>
        <a href="https://crates.io/crates/persy">Crates.io</a>
        <a rel="me" href="https://fosstodon.org/@persy_rs">Mastodon</a>
        <a href="https://gitlab.com/persy/persy/issues">Issues</a>
        <a href="https://matrix.to/#/!uTwEQyCLprxxbYLvjG:matrix.org?via=matrix.org">Matrix Channel</a>
      </nav>
    </div>
  </header>
<input type="checkbox" id="sideSwitch" class="collapse-switch">
<div class="collapse-toggle switch">
    <label for="sideSwitch">
        Menu
    </label>
</div>
  <section class="menu collapsable">
    <nav>
      <a href="/"> What's Persy </a><br/>
      <a href="/news.html">News</a><br/>
      <a href="/posts/persy-1.6.html">Persy 1.6 Release</a><br/>
      <a href="/posts/getting-started.html">Getting Started</a><br/>
      <a href="/posts/tools.html">Tools</a><br/>
      <a href="/posts/changelog.html">Change Log</a><br/>
      <a href="/posts/roadmap.html">Roadmap</a><br/>
      <a href="/posts/used_by.html">Used By</a><br/>
      <a href="/posts/old-releases.html">Old Releases</a><br/>
      <!-- <a href="/posts/hcc-api.html">High Consistency Concurrency API</a><br/> -->
    </nav>
    <script src="https://liberapay.com/Persy/widgets/button.js"></script>
    <noscript><a href="https://liberapay.com/Persy/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript>
  </section>
